resources/
build
bin
lib
students
.vs
.vscode
_deps/

*Config.h

# *.bmp
# *.png
# *.jpg
# *.gif
# *.mp4
# *.pdf

*.html

*.rar
*.zip

*.doc
*.docx
*.ppt
*.pptx

*.filters
*.vcxproj
*.log
*.sln
*.user
*.dll
*.lib
*.exe
*.ilk
*.pdb
